<?xml version="1.0" encoding="UTF-8" ?>
<Configuration scan="true" scanPeriod="30 seconds">
    <Appenders>
        <Console name="console" class="ch.qos.logback.core.ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>